alias weechat='weechat-curses'
alias ..="cd .."
alias ...='cd ../..'
alias l='clear && pwd && ls -FGl'
alias u='cd .. && l'
alias z='ls -FGl'

# Colors for ls (BSD version) 
alias ls='ls -G'
alias la='ls -a'
alias ll='ls -la'

alias grep='grep --color=auto'
alias cpu="top -o cpu"
alias mem="top -o rsize" 

alias ip="curl -4 icanhazip.com"

