alias weechat='weechat-curses'
alias pianobar='aoss pianobar'
alias ..="cd .."
alias ...='cd ../..'
alias l='clear && pwd && ls -FGl'
alias u='cd .. && l'

# Colors for ls (BSD version) 
alias ls='ls -G'
alias la='ls -la'

alias grep='grep --color=auto'

# How I imagine this command works every time I remember it
alias tree="echo 'There might be more but heres the skinny, honcho. (4 lvls deep)'; tree -adCL 4"

# To get tmux to use 256 colors 
alias tmux="TERM=xterm-265color tmux"

alias ch="open -a \"Google Chrome\""
alias cpu="top -o cpu"
alias mem="top -o rsize" 

#alias ip="curl -4 icanhazip.com"

