
!! --------------------------------
!! <<  Terminal settings  >>
!! --------------------------------

xterm.colorMode: on
xterm.cursorBlink: true
xterm.scrollBar: false
xterm.termName: xterm-256color 
xterm.iso14755: false
xterm.letterSpace: 0

xterm*VT100.geometry: 106x32 

xterm*locale: true

xterm*borderColor:        #151515
xterm*colorBD:            #ffffff
!xterm*cursorColor:        #ff8939
!xterm*cursorColor2:       #151515


!Let me use ALT with console applications 
xterm*metaSendsEscape: true

!1024 lines saved by default, SAVE MORE!
xterm*saveLines: 4096 



!! --------------------------------
!! <<  Transparency Settings  >>
!! --------------------------------

xterm*.transparent: true
! tips > xterm*.shading: 0 to 99 darkens, 101 to 200 lightens
xterm*.shading: 22, 110 

!! --------------------------------
!! <<  Font settings  >>
!! --------------------------------

xterm.font: xft:terminus:pixelsize=14:antialias=false
xterm.boldFont: xft:terminus:bold:pixelsize=12:antialias=false
!xterm.font: -terminus12-medium-r-normal--12-120-72-72-c-60-iso8859-1


!Allows copying from xterm
xterm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

xterm.url-launcher: /usr/bin/firefox
xterm.matcher.button: 1


#include "/home/mattattaque/dotfiles/.colors/beastie.colors"




